/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
}

body {
    overflow-x: hidden;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover {
    opacity: 1;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: Poppins;
}

h3,
p {
    font-family: Roboto;
}

.highlight {
    color: red;
    font-weight: bold;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 80px;
}

@media all and (max-width: 768px) {
    section {
        padding: 50px 20px;
    }
}

@media all and (max-width: 576px) {
    section {
        padding: 20px 10px;
    }
}

.grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: red;
    border: 0;
    margin-bottom: 50px;
}

@media (max-width: 575px) {
    hr {
        margin-bottom: 20px;
    }
}

section h1 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

section h3 {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 100;
}

@media (max-width: 575px) {
    section h1 {
        font-size: 30px;
    }   
    section h3 {
        font-size: 25px;
    }
}

/* Header */

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    z-index: 1;
}

header h2 {
    font-size: 30px;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header nav ul {
    display: flex;
    margin-right: -15px;
}

header nav ul li {
    margin: 0 15px;
    font-size: 20px;
}

@media all and (max-width: 768px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }
    header h1 {
        font-size: 28px;
        margin-top: 50px;
    }
    header h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    header nav ul {
        align-items: center;
    }
    header nav ul a {
        opacity: 1;   
    }
}

@media all and (max-width: 576px) {
    header {
        padding: 20px 20px;
    }
    header nav ul li {
        margin: 0 10px;
    }
    header nav ul a {
        font-size: 15px;
    }

}

/* Showcase */

section#showcase {
    background-color: #f3b57d;
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

#showcase h1, #showcase h3, #showcase-image, #showcase a {
    opacity: 0;
    animation: 2s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
    }
}

#showcase h1,
#showcase h3 {
    color: #fff;
}

#showcase-image img {
    width: 45%;
    margin: 0 auto;
}

#showcase a.btn {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 35px 0 0 0;
}

#showcase a.btn:hover {
    border: 2px solid red;
    color: red;
}

/* Benefits */

section#benefits {
    background-color: #f3f3f3;
}

#benefits .grid {
    flex-direction: row;
}

#benefits .grid #benefits-pizza-image {
    flex-basis: 50%;
    text-align: center;
}

#benefits-pizza-image img {
    width: 80%;
    margin: 0 auto;
}

#benefits .grid #benefits-list {
    flex-basis: 50%;
    padding: 40px 0;
}

@media all and (max-width: 576px) {
    #benefits .grid #benefits-list {
        padding: 10px 0;
    }
}

#benefits-list p {
    font-size: 20px;
    line-height: 1.8;
}

#benefits-list .fa {
    color: red;
}

@media (max-width: 1100px) {
    #benefits-list p {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media (max-width: 768px) {
    #benefits .grid #benefits-pizza-image, #benefits .grid #benefits-list {
        flex-basis: 100%;
    }
}

/* Customize (ingredients) */

#customize .grid {
    justify-content: space-around;
}

#customize .grid .ingredient-box {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    flex-basis: 30%;
}

@media all and (max-width: 576px) {
    #customize .grid .ingredient-box {
        width: 250px;
        height: 250px;
    }
}

.ingredient-box img {
    height: 80%;
}

.ingredient-box img:hover {
    opacity: 0.3;
}

li.ingredient-box * {
    transition: all 1s ease-in-out;
}

p.ingredient-name {
    font-size: 30px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
    /* initial scale */
    transform: translate(-50%, -50%) scale(0);
    /* transition after the hover */
    transition: transform 1s 1s ease-in-out;
}

.ingredient-box:hover .ingredient-name {
    transform: translate(-50%, -75%) scale(1);
    transition: transform 1s 1s ease-in-out;
}

@media (max-width: 768px) {
    #customize .grid .ingredient-box {
        flex-basis: 50%;
    }
}

@media (max-width: 575px) {
    #customize .grid .ingredient-box {
        flex-basis: 100%;
    }
}

/* Cola */

#add-cola {
    background-color: #f3b57d;
    color: #fff;
}

#add-cola .grid {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pizza-cola, #cola-pizza {
    flex-basis: 50%;
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pizza-cola img, #cola-pizza img {
    width: 70%;
    margin: 0 auto;
}

@media all and (max-width: 575px) {
    #pizza-cola, #cola-pizza {
        flex-basis: 100%;
        min-height: 200px;
    }
}

/* Testimonials */

#testimonials {
    background-color: #f3f3f3;
}

#testimonials .grid {
    justify-content: space-between;
}

.testimonial-box {
    flex-basis: 50%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 575px) {
    .testimonial-box {
        margin-top: 10px;
    }
}

blockquote {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 25px;
    width: 90%;
    font-family: 'Open Sans';
    font-style: italic;
    color: #000;
    border-left: 8px solid #865d3d;
    line-height: 1.6;
    background: #f3b57d;
}

blockquote i {
    color: #865d3d;
}

blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

@media all and (max-width: 768px) {
    .testimonial-box {
        flex-basis: 100%;
    }
}

/* Pricing tables */

#pricing-tables .grid {
    flex-direction: row;
    justify-content: space-around;
}

#pricing-tables .col {
    flex-basis: 30%;
    padding: 8px;
    text-align: center;
}

.price-box {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #fff;
    color: #333333;
    list-style-type: none;
    border: 1px solid #f3b57d;
    margin: 0;
    padding: 0;
    transition: 1s;
}

.price-box p {
    font-size: 30px;
    font-weight: 100;
    margin-top: 0;
}

.price-box:hover, .price-box.best {
    box-shadow: 0 10px 15px 0 #865d3d;
}

.price-box .header {
    background-color: #865d3d;
    color: #fff;
    font-size: 25px;
    padding: 10px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.price-box .header.header-red {
    background-color: red;
}

.price-box li {
    padding: 20px;
    border-bottom: 1px solid #f3b57d;
}

.price-box .emph {
    background-color: #f4f4f4;
    font-size: 20px;
}

.button {
    background-color: #b83717;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}

.price-box .button:hover {
    background-color: red;
}

@media all and (max-width: 768px) {
    #pricing-tables .grid {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    #pricing-tables .col {
        flex-basis: 75%;
    }
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f3b57d;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

footer p {
    font-family: Poppins;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 25px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    footer ul li:first-of-type {
        margin-left: 0;
    }
    footer p {
        text-align: center;
        margin-bottom: 20px;
    }
}
